<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


        <!--footer-->
<footer class="kilimanjaro_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>About Me</h5>
                            <p>I am Neel Deep Dandiwala and I am a dedicated programming enthusiast who possesses a penchant for learning new concepts and technologies.</p>
                            <p>I love to immerse myself in various domains, showcasing a versatile and exploratory approach to technology and programming.</p>
                        </div>
                        <div class="kilimanjaro_part m-top-15">
                            <h5>Social Links</h5>
                            <ul class="kilimanjaro_social_links">
                                <li><a href="https://www.linkedin.com/in/neel-dandiwala/"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                                <li><a href="https://github.com/Neel-Dandiwala"><i class="fa fa-linkedin" aria-hidden="true"></i> GitHub</a></li>
                                <li><a href="https://www.neeldandiwala.com"><i class="fa fa-linkedin" aria-hidden="true"></i> Portfolio</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Skills</h5>
                            <ul class=" kilimanjaro_widget">
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Blockchain</a></li>
                                <li><a href="#">Database & Data Analysis</a></li>
                                <li><a href="#">Machine Learning</a></li>
                                <li><a href="#">Robotics</a></li>
                                <li><a href="#">Algorithm</a></li>
                                <li><a href="#">Data Structures</a></li>
                                
                            </ul>
                        </div>

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Projects</h5>
                            <ul class="kilimanjaro_links">
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>SpaceX Dargon Capsule Simulation</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>IQ Chabo</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Cropylzer</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Fungify</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Education</h5>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://i.imgur.com/xL8gwYX.png" alt="">

                                </div>
                                <a href="#">Lakehead University</a>
                                <p class="kilimanjaro_date">Sep 2023 -- May 2025</p>
                                <p>Master in Computer Science</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://i.imgur.com/OyuBoh6.jpeg" alt="">
                                </div>
                                <a href="#">Veermata Jijabai Technological Institute</a>
                                <p class="kilimanjaro_date">Jan 2021 -- May 2023</p>
                                <p>Bachelor of Technology in Information Technology</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://i.imgur.com/7ZZhkas.jpg" alt="">
                                </div>
                                <a href="#">Shri Bhagubhai Mafatlal Polytechnic</a>
                                <p class="kilimanjaro_date">Aug 2017 -- Oct 2020</p>
                                <p>Diploma in Computer Engineering</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Quick Contact</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Email:</h5>
                                <p>neeldandi&#64;gmail.com</p>
                            </div>
                        </div>
                        <div class="kilimanjaro_part">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><a href="#">Neel Dandiwala<i class="fa fa-love"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- Credit to https://bootsnipp.com/snippets/X2XOv -->